// About and other textual content pages CSS

.about-us {
    h3 {
        color: $green;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 25px;
    }
}