header {
  padding-top: 20px;
  padding-bottom: 10px;

  .input-group {
    width: 500px;
    height: 48px;

    .form-control {
      border-radius: 0;
      height: 48px;

      .input-group-append,
      .input-group-text {
        height: 48px;
      }
    }

    svg {
      width: 20px;

      path {
        fill: $green;
      }
    }
  }
  .cart-top-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .nav {
    .nav-link {
      color: $green;
      font-weight: 600;

      svg {
        width: 30px;
        // transform: rotate(180deg);

        path {
          fill: $green;
        }
      }
    }
    .cart-collection {
    }
    .delivery-status {
      font-size: 16px;
      margin-bottom: 0;
      img {
        width: 40px;
      }
    }
  }
  .delivery-status {
    margin-bottom: 0;
    img {
      width: 40px;
    }
  }
}

.map-location {
  img {
    width: 20px;
  }

  margin-top: 10px;
}

.main-logo {
  width: 243px;
}

.navbar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
        padding: 0 20px;
        font-weight: 500;

        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.main-sliding-banner {
  background: url(../images/carousel-bg.png) no-repeat left bottom;
  background-size: cover;
  background-color: #eff0e9;

  .carousel-item {
    h2 {
      color: $green;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: NaNpx;

      span {
        font-size: 30px;
        color: $mediumGrey;
        font-weight: 500;
      }
    }

    .banner-price {
      height: 272px;
      width: 272px;
      border-radius: 50%;
      background: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 80px;
      letter-spacing: -1.03px;

      div {
        letter-spacing: -4px;
        line-height: 80px;
        margin-top: 28px;

        span {
          font-size: 130px;
        }
      }

      p {
        font-size: 24px;
        color: $darkGrey;
        font-weight: normal;
        letter-spacing: NaNpx;
      }
    }

    a {
      color: $green;
    }
    .btn {
      background: $green;
      font-size: 14px;
      font-weight: 600;
      border-radius: 0;
      color: $white;
    }
  }

  .carousel-indicators {
    li {
      width: 18px;
      height: 18px;
      background-color: $green;
      border-radius: 50%;
      border: 0;
      opacity: 0.5;
    }

    .active {
      background: $yellow;
      opacity: 1;
      width: 18px;
      height: 18px;
    }
  }
}

.category-shop {
  background: $fadeGrey;

  .sub-heading {
    h3 {
      font-size: 32px;
      font-weight: 700;
      color: $green;
      margin-bottom: 15px;
    }

    a {
      color: $green;
      font-weight: 500;
    }

    .form-inline {
      .form-group {
        label {
          font-weight: 600;
          margin-right: 10px;
        }
      }
    }
  }

  h2 {
    font-size: 50px;
    font-weight: 700;
    color: $green;
    margin-bottom: 36px;
  }
  .extra-heading {
    h2 {
      margin-bottom: 20px;
    }
    a {
      color: $green;
      font-weight: 500;
    }
  }

  .item-container {
    padding: 8px;

    .item {
      background: $white;
      padding: 10px;
      font-weight: 600;
      box-shadow: 0 0 10px $lightGrey;
      max-width: 272px;
      transition: transform 0.2s;
      line-height: 20px;

      img {
        margin: 5px 0 20px;
      }

      del {
        color: $grey;
      }

      &:hover {
        transform: scale(1.05);
      }

      small {
        display: flex;

        svg {
          width: 20px;

          path {
            fill: $green;
          }
        }
      }
      .input-group {
        border: 1px solid $grey;
        height: 35px;
        .form-control {
          padding-top: 0;
          padding-bottom: 0;
          height: 100%;
          padding: 0;
          text-align: center;
        }
        .btn {
          font-size: 20px;
          color: $green;
          font-weight: bold;
          background-color: transparent;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      .btn {
        background-color: $green;
        color: $white;
        font-size: 14px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0;
      }
      .in-stock {
        text-align: right;
        font-size: 500;
        font-size: 14px;
      }
    }
  }
}

.hot-deals {
  background: $white;
}

.slick-slider {
  position: relative;

  .slick-slide {
    margin: 5px;
  }

  .slick-arrow {
    position: absolute;
    top: 80px;
    cursor: pointer;
  }

  .slick-prev {
    left: -50px;

    &:before {
      content: "";
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $green;
    }
  }

  .slick-next {
    right: -50px;
  }
}

.delivery-order {
  p {
    svg {
      width: 50px;
    }
  }
}

// Market Place
.cart-container {
  padding-bottom: 120px;

  h3 {
    font-weight: 700;
    font-size: 36px;
  }

  small {
    margin-bottom: 30px;
    display: block;
  }

  .cart-section {
    color: $black;
    font-weight: 500;

    p {
      margin-bottom: 0;
    }

    .price {
      font-size: 40px;

      del {
        color: $red;
      }
    }

    .price-stock {
      span {
        margin-right: 20px;
      }
    }
  }

  .form-inline {
    margin-top: 20px;
    margin-bottom: 30px;

    .form-control {
      height: 65px;
      border-radius: 0;
    }

    button {
      height: 65px;
      border-radius: 0;
      border: 0;
      font-size: 22px;
      font-weight: 600;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: -2px;

      &:hover {
        background: $green;
      }
    }
  }

  .brand-flavour {
    font-weight: 600;

    .col-auto {
      margin-bottom: 10px;
    }

    span {
      color: $darkGrey;
    }
  }
}

// Market Place Filters
.category-section {
  h5 {
    font-size: 16px;
    font-weight: 600;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      font-size: 14px;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      background: $green;
      border: 1px solid $green;
    }
  }

  .nav {
    .nav-link {
      padding: 0;
      font-weight: 600;
      color: $black;

      &:hover {
        color: $green;
      }
    }

    .active {
      color: $green;
    }
  }

  .more {
    margin-bottom: 20px;

    a {
      color: $green;
    }
  }
}

.market-filter {
  .item-container {
    .item {
      max-width: 252px;
    }
  }
  .serp-page {
    .item-container {
      .item {
        max-width: 223px;
      }
    }
  }
  .pagination {
    .page-item {
      .page-link {
        color: $green;
        background: transparent;
        border: 0;
        font-weight: 600;
      }
    }
  }
}
