@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap");
.container-wrapper .navbar .dropdown-menu {
  background: #43ab6c;
  border-radius: 0;
  -webkit-box-shadow: 0px 5px 4px 0px #B7B7B7;
          box-shadow: 0px 5px 4px 0px #B7B7B7;
  border: 0;
}

.container-wrapper .navbar .dropdown-menu .dropdown-toggle:after {
  border-top: .3em solid transparent;
  border-right: 0;
  border-bottom: .3em solid transparent;
  border-left: .3em solid;
}

.container-wrapper .navbar .dropdown-menu .dropdown-menu {
  margin-left: 0;
  margin-right: 0;
}

.container-wrapper .navbar .dropdown-menu li {
  position: relative;
}

.container-wrapper .navbar .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 10px 20px;
}

.container-wrapper .navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #f7ec1a;
}

.container-wrapper .navbar .nav-item .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 10px;
  background: #fff;
  -webkit-box-shadow: 5px 0px 4px 0px #B7B7B7;
          box-shadow: 5px 0px 4px 0px #B7B7B7;
}

.container-wrapper .navbar .nav-item .submenu .dropdown-item {
  color: #43ab6c;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

.container-wrapper .navbar .nav-item .submenu .dropdown-item:hover {
  color: #000;
}

.container-wrapper .navbar .nav-item .submenu-left {
  right: 100%;
  left: auto;
}

.container-wrapper .navbar .dropdown-menu > li:hover > .submenu {
  display: block;
}

.container-wrapper .navbar .dropdown-menu > li:hover .two-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-wrapper .navbar .dropdown-menu > li:hover .two-level ul {
  padding: 5px;
}

.container-wrapper .navbar .dropdown-menu > li:hover .two-level ul li {
  list-style: none;
}

.order-process .order-ticket {
  padding: 30px 0;
}

.order-process .order-ticket h4 {
  font-size: 26px;
  font-weight: 700;
  color: #43ab6c;
  margin-top: 10px;
  margin-bottom: 30px;
}

.order-process .order-process-steps {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-process .order-process-steps .step {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #707070;
  line-height: 40px;
  font-size: 24px;
  font-weight: 600;
  color: #707070;
}

.order-process .order-process-steps .step-blank {
  text-align: center;
}

.order-process .order-process-steps .step-blank h4 {
  font-size: 24px;
  font-weight: 700;
  color: #707070;
  margin-top: 5px;
}

.order-process .order-process-steps .checked-green h4 {
  color: #43ab6c;
}

.order-process .order-process-steps .fill {
  background: #43ab6c;
  border: 4px solid #43ab6c;
  color: #fff;
}

.order-process .order-process-steps .fill:after {
  content: "";
  display: block;
  width: 14px;
  height: 24px;
  border: solid #fff;
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 8px auto;
}

.order-process .step-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #707070;
  margin-top: 12px;
}

.order-process .step-small:after {
  display: none !important;
}

.order-summary .summary h4 {
  color: #43ab6c;
}

.fill-card .form-control {
  border: 0;
  height: 60px;
  border-radius: 0;
}

.fill-card .form-control::-webkit-input-placeholder {
  font-weight: 600;
  color: #B7B7B7;
}

.fill-card .form-control:-ms-input-placeholder {
  font-weight: 600;
  color: #B7B7B7;
}

.fill-card .form-control::-ms-input-placeholder {
  font-weight: 600;
  color: #B7B7B7;
}

.fill-card .form-control::placeholder {
  font-weight: 600;
  color: #B7B7B7;
}

.fill-card .form-control:focus {
  outline: none;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
          box-shadow: inset 0 -1px 0 #fff;
}

.error-msg {
  margin: 10px 0;
}

.error-msg strong {
  color: #DD2626CB;
}

.payment-option-form form .error-msg {
  margin: 10px 0;
}

.payment-option-form form .error-msg strong {
  color: #DD2626CB;
}

.payment-option-form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-option-form form .form-group .error {
  background: rgba(255, 0, 0, 0.2);
}

.payment-option-form form .form-group .form-control {
  height: 60px;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.payment-option-form form .form-group .form-control::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.payment-option-form form .form-group .form-control:-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.payment-option-form form .form-group .form-control::-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.payment-option-form form .form-group .form-control::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.payment-option-form form .form-group select.form-control {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.payment-option-form form .form-group .asterisk {
  margin-left: 5px;
  font-weight: 600;
  color: #DD2626CB;
}

.payment-option-form form .btn {
  height: 60px;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1.12px;
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
}

.top-bar {
  background: #000;
  color: #fff;
}

.top-bar h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.top-bar h4 a {
  color: #f7ec1a;
}

.top-bar h4 span {
  color: #f7ec1a;
}

.top-bar a {
  color: #fff;
}

.top-bar select.form-control option {
  color: #000;
}

.paygos-join {
  width: 600px;
}

.paygos-join .img-fluid {
  width: 80%;
  margin: auto;
}

.paygos-join .join-now {
  position: relative;
}

.paygos-join .join-now h3 {
  font-weight: 600;
}

.paygos-join .join-now h4 {
  font-size: 30px;
}

.paygos-join .join-now .form-control {
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
  height: 60px;
  margin-bottom: 12px;
  border-radius: 0;
  opacity: 0.7;
}

.paygos-join .join-now .form-control :focus {
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.paygos-join .join-now button {
  height: 74px;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.paygos-join .join-now .free-shipping {
  position: absolute;
  z-index: 1;
  right: -180px;
  bottom: -50px;
}

.paygos-join .join-now .free-shipping img {
  width: 170px;
}

.paygos-join .join-now p.login {
  color: #B7B7B7;
  font-weight: 500;
  font-size: 16px;
}

.paygos-join .join-now p.login a {
  color: #000;
  text-decoration: underline;
}

.paygos-join .join-now .login p {
  color: #B7B7B7;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
}

.paygos-join .join-now .login p a {
  color: #000;
  text-decoration: underline;
}

.paygos-join .profile-page svg {
  width: 100px;
}

.paygos-join .profile-page h3 {
  color: #43ab6c;
}

.paygos-join .profile-page .form-control {
  background: transparent;
}

.paygos-join .shipping-address {
  padding-top: 0 !important;
}

.paygos-join .shipping-address svg path {
  fill: #A3A3A3;
}

.paygos-join .shipping-address .table thead {
  border-bottom: 2px solid #E8E8E8;
}

.paygos-join .shipping-address .table td {
  padding: 5px;
}

.one-stop-shop {
  background-color: #E8E8E8;
  position: relative;
}

.one-stop-shop .bg-paygos-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  opacity: 0.3;
  margin-top: 10px;
}

.one-stop-shop h1 {
  letter-spacing: -2.76px;
  font-size: 86px;
  font-weight: 700;
}

.one-stop-shop h1 span {
  color: #43ab6c;
}

.one-stop-shop h4 {
  font-size: 37px;
  font-weight: 700;
  margin-top: 20px;
  line-height: 47px;
}

.one-stop-shop .container {
  position: relative;
}

.one-stop-shop .container .one-stop-arrow {
  position: absolute;
  left: -60px;
  bottom: 230px;
}

.savings h3 {
  font-weight: 700;
  font-size: 40px;
}

.savings p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.savings a {
  color: #43ab6c;
  font-weight: 600;
}

.how-it-works {
  position: relative;
  padding-bottom: 66px;
}

.how-it-works .video-bg {
  background: url(../images/paygos_video_screen.jpg) no-repeat top center;
  background-size: cover;
  width: 1015px;
  margin-left: 0;
  height: 569px;
  position: relative;
  margin-top: -40px;
  -webkit-box-shadow: 0px 3px 18px #ccc;
          box-shadow: 0px 3px 18px #ccc;
}

.how-it-works .video-bg .play-video {
  background-color: rgba(0, 128, 0, 0.15);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.how-it-works .video-bg .play-video a {
  margin: auto;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.how-it-works .video-bg .play-video a img {
  width: 65px;
  height: 65px;
}

.how-it-works .container {
  position: relative;
}

.how-it-works .container .how-it-works-arrow {
  position: absolute;
  right: -300px;
  top: 25%;
}

.how-it-works .container .how-it-works-arrow img {
  width: 90%;
}

footer {
  position: relative;
  background: #000;
}

footer .container {
  height: 144px;
  font-weight: normal;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 120px !important;
}

footer .container nav .nav-link {
  color: #B7B7B7;
  border-right: 1px solid #B7B7B7;
  padding: 0 10px;
  line-height: 14px;
}

footer .container p {
  color: #B7B7B7;
}

footer .container .chat-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

footer .move-top {
  position: absolute;
  bottom: 200px;
  right: 50px;
}

.cookies {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0;
  color: #fff;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cookies button {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.cookies a {
  color: #fff;
  text-decoration: underline;
  color: #fff;
}

.cookies .close {
  position: absolute;
  color: #fff;
  right: -100px;
  top: 10px;
  cursor: pointer;
}

.login-logo-container .img-fluid {
  width: 80%;
}

.reset-password .join-now {
  margin-top: -60px;
  background: #fff;
  margin-bottom: 100px;
}

.reset-password .join-now h3 {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 24px;
}

.reset-password .join-now h5,
.reset-password .join-now span {
  font-size: 26px;
  font-weight: 600;
}

.reset-password .join-now p {
  color: #B7B7B7;
  letter-spacing: -0.5px;
  line-height: 18px;
  margin-bottom: 40px;
}

.reset-password .table-responsive {
  padding: 20px;
}

.reset-password .table-responsive .table th {
  font-size: 22px;
  font-weight: 700;
}

.reset-password .table-responsive .table td {
  font-size: 20px;
  font-weight: 500;
}

.reset-password .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.reset-password .register-thanks {
  text-align: center;
}

.reset-password .register-thanks h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.reset-password .register-thanks h4 a {
  color: #43ab6c;
  text-decoration: underline;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
}

header .input-group {
  width: 600px;
  height: 48px;
}

header .input-group .form-control {
  border-radius: 0;
  height: 48px;
}

header .input-group .form-control .input-group-append,
header .input-group .form-control .input-group-text {
  height: 48px;
}

header .input-group svg {
  width: 20px;
}

header .input-group svg path {
  fill: #43ab6c;
}

header .cart-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

header .nav .nav-link {
  color: #43ab6c;
  font-weight: 600;
}

header .nav .nav-link svg {
  width: 30px;
}

header .nav .nav-link svg path {
  fill: #43ab6c;
}

header .nav .delivery-status {
  font-size: 16px;
  margin-bottom: 0;
}

header .nav .delivery-status img {
  width: 40px;
}

header .delivery-status {
  margin-bottom: 0;
}

header .delivery-status img {
  width: 40px;
}

.map-location {
  margin-top: 10px;
}

.map-location img {
  width: 20px;
}

.main-logo {
  width: 243px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 0 20px;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f7ec1a;
}

.main-sliding-banner {
  background: url(../images/carousel-bg.png) no-repeat left bottom;
  background-size: cover;
  background-color: #eff0e9;
}

.main-sliding-banner .carousel-item h2 {
  color: #43ab6c;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: NaNpx;
}

.main-sliding-banner .carousel-item h2 span {
  font-size: 30px;
  color: #B7B7B7;
  font-weight: 500;
}

.main-sliding-banner .carousel-item .banner-price {
  height: 272px;
  width: 272px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -1.03px;
}

.main-sliding-banner .carousel-item .banner-price div {
  letter-spacing: -4px;
  line-height: 80px;
  margin-top: 28px;
}

.main-sliding-banner .carousel-item .banner-price div span {
  font-size: 130px;
}

.main-sliding-banner .carousel-item .banner-price p {
  font-size: 24px;
  color: #6F6F6FCB;
  font-weight: normal;
  letter-spacing: NaNpx;
}

.main-sliding-banner .carousel-item a {
  color: #43ab6c;
}

.main-sliding-banner .carousel-item .btn {
  background: #43ab6c;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
  color: #fff;
}

.main-sliding-banner .carousel-indicators li {
  width: 18px;
  height: 18px;
  background-color: #43ab6c;
  border-radius: 50%;
  border: 0;
  opacity: 0.5;
  opacity: 1;
  margin-right: 10px;
}

.main-sliding-banner .carousel-indicators .active {
  background: #f7ec1a;
  opacity: 1;
  width: 18px;
  height: 18px;
}

.category-shop {
  background: #E8E8E84E;
}

.category-shop .sub-heading h3 {
  font-size: 32px;
  font-weight: 700;
  color: #43ab6c;
  margin-bottom: 15px;
}

.category-shop .sub-heading a {
  color: #43ab6c;
  font-weight: 500;
}

.category-shop .sub-heading .form-inline .form-group label {
  font-weight: 600;
  margin-right: 10px;
}

.category-shop h2 {
  font-size: 60px;
  font-weight: 700;
  color: #43ab6c;
  margin-bottom: 36px;
}

.category-shop .extra-heading h2 {
  margin-bottom: 20px;
}

.category-shop .extra-heading a {
  color: #43ab6c;
  font-weight: 500;
}

.category-shop .item-container {
  padding: 8px;
}

.category-shop .item-container .item {
  background: #fff;
  padding: 10px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 10px #E8E8E8;
          box-shadow: 0 0 10px #E8E8E8;
  max-width: 272px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  line-height: 20px;
}

.category-shop .item-container .item img {
  margin: 5px 0 20px;
}

.category-shop .item-container .item del {
  color: #000;
  font-size: 14px;
}

.category-shop .item-container .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.category-shop .item-container .item small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-shop .item-container .item small svg {
  width: 20px;
}

.category-shop .item-container .item small svg path {
  fill: #43ab6c;
}

.category-shop .item-container .item .input-group {
  border: 1px solid #A3A3A3;
  height: 35px;
}

.category-shop .item-container .item .input-group .form-control {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  padding: 0;
  text-align: center;
}

.category-shop .item-container .item .input-group .btn {
  font-size: 20px;
  color: #43ab6c;
  font-weight: bold;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.category-shop .item-container .item .btn {
  background-color: #43ab6c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
}

.category-shop .item-container .item .in-stock {
  text-align: right;
  font-size: 500;
  font-size: 14px;
}

.category-shop .item-container .item .added-cart-items {
  font-size: 17px;
  font-weight: 700;
  color: #6F6F6FCB;
}

.category-shop .marketplace-more h4 {
  color: #43ab6c;
  font-weight: 700;
  font-size: 32px;
}

.category-shop .marketplace-more a {
  color: #43ab6c;
  text-transform: none;
  font-weight: 500;
}

.category-shop .search-all-orders .input-group {
  height: 48px;
}

.category-shop .search-all-orders .input-group .form-control {
  height: 100%;
}

.category-shop .search-all-orders .input-group .form-control::-webkit-input-placeholder {
  color: #B7B7B7;
}

.category-shop .search-all-orders .input-group .form-control:-ms-input-placeholder {
  color: #B7B7B7;
}

.category-shop .search-all-orders .input-group .form-control::-ms-input-placeholder {
  color: #B7B7B7;
}

.category-shop .search-all-orders .input-group .form-control::placeholder {
  color: #B7B7B7;
}

.category-shop .search-all-orders .input-group .input-group-append .btn {
  height: 100%;
}

.category-shop .search-all-orders .input-group .input-group-append .btn svg {
  width: 17px;
}

.category-shop .search-all-orders .input-group .input-group-append .btn svg path {
  fill: #43ab6c;
}

.hot-deals {
  background: #fff;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-slide {
  margin: 5px;
}

.slick-slider .slick-arrow {
  position: absolute;
  top: 180px;
  cursor: pointer;
}

.slick-slider .slick-prev {
  left: -50px;
}

.slick-slider .slick-prev:before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #43ab6c;
}

.slick-slider .slick-next {
  right: -50px;
}

.delivery-order p svg {
  width: 50px;
}

.cart-container {
  padding-bottom: 120px;
}

.cart-container h3 {
  font-weight: 700;
  font-size: 36px;
  color: #43ab6c;
}

.cart-container small {
  margin-bottom: 30px;
  display: block;
}

.cart-container .cart-section {
  color: #000;
  font-weight: 500;
}

.cart-container .cart-section p {
  margin-bottom: 0;
}

.cart-container .cart-section .price {
  font-size: 40px;
}

.cart-container .cart-section .price del {
  color: #DD2626CB;
  font-size: 31px;
}

.cart-container .cart-section .sale {
  font-size: 31px;
  color: #DD2626CB;
}

.cart-container .cart-section .price-stock span {
  margin-right: 20px;
}

.cart-container .form-inline {
  margin-top: 20px;
  margin-bottom: 30px;
}

.cart-container .form-inline .form-control {
  border-radius: 0;
  height: 40px;
}

.cart-container .form-inline button {
  height: 40px;
  border-radius: 0;
  border: 0;
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #43ab6c;
}

.cart-container .form-inline button:hover {
  background: #43ab6c;
}

.cart-container .brand-flavour {
  font-weight: 600;
}

.cart-container .brand-flavour .col-auto {
  margin-bottom: 10px;
}

.cart-container .brand-flavour span {
  color: #6F6F6FCB;
}

.category-section h5 {
  font-size: 16px;
  font-weight: 600;
}

.category-section ul {
  padding: 0;
}

.category-section ul li {
  list-style: none;
  font-size: 14px;
}

.category-section ul .custom-control-input:checked ~ .custom-control-label::before {
  background: #43ab6c;
  border: 1px solid #43ab6c;
}

.category-section .nav .nav-link {
  padding: 0;
  font-weight: 600;
  color: #000;
}

.category-section .nav .nav-link:hover {
  color: #43ab6c;
}

.category-section .nav .active {
  color: #43ab6c;
}

.category-section .more {
  margin-bottom: 20px;
}

.category-section .more a {
  color: #43ab6c;
}

.market-filter .item-container {
  width: 273px;
  margin-bottom: 20px;
}

.market-filter .item-container .item {
  width: 100%;
}

.market-filter .serp-page .item-container .item {
  max-width: auto;
}

.market-filter .pagination .page-item .page-link {
  color: #43ab6c;
  background: transparent;
  border: 0;
  font-weight: 600;
}

.about-us h3 {
  color: #43ab6c;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 25px;
}

.addto-cart-section .add-to-cart-subtotal .btn {
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  padding: 12px 20px;
}

.addto-cart-section svg {
  width: 60px;
  margin-right: 20px;
}

.addto-cart-section svg path {
  fill: #43ab6c;
}

.purchasing-cart h3 {
  font-size: 50px;
  font-weight: 600;
  color: #43ab6c;
}

.purchasing-cart h4 {
  font-size: 30px;
  font-weight: 700;
}

.purchasing-cart .item-in-cart .btn-save-later {
  background: #E8E8E8;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #B7B7B7;
}

.purchasing-cart .item-in-cart .cart-price-section strong {
  font-size: 30px;
}

.purchasing-cart .item-in-cart .cart-price-section .input-group {
  border: 1px solid #B7B7B7;
}

.purchasing-cart .item-in-cart .cart-price-section .input-group .btn {
  background: #fff;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  color: #43ab6c;
  font-weight: bold;
}

.purchasing-cart .item-in-cart .cart-price-section .input-group .form-control {
  border: 0;
}

.purchasing-cart .begin-checkout {
  font-size: 22px;
}

.purchasing-cart .begin-checkout .col-auto {
  padding-top: 15px;
  padding-bottom: 15px;
}

.purchasing-cart .begin-checkout .btn {
  color: #fff;
}

.purchasing-cart .begin-checkout .edit-btn {
  background: #E8E8E8;
  color: #000;
  font-weight: 600;
  border-radius: 0;
  border: 1px solid #B7B7B7;
}

.purchasing-cart .wizard-shipping-address h4 {
  color: #43ab6c;
}

.purchasing-cart .wizard-shipping-address .split-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.purchasing-cart .wizard-shipping-address .split-payment span {
  font-size: 40px;
  display: inline-block;
  color: #43ab6c;
  margin-right: 10px;
}

.help-page-section .help-page h4 {
  color: #43ab6c;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
}

.help-page-section .help-page p {
  font-size: 20px;
  font-weight: 600;
}

.help-page-section .help-page .ship-address-action {
  margin-top: 30px;
}

.help-page-section .help-page .ship-address-action .btn {
  margin-right: 10px;
}

.help-page-section .help-page .add-address-col {
  text-align: center;
  cursor: pointer;
}

.help-page-section .help-page .add-address-col svg path {
  fill: #43ab6c !important;
}

.help-page-section .help-page .btn {
  background: #E8E8E8;
  border: 1px solid #B7B7B7;
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  color: #000;
}

.help-page-section .help-page .mobile-heading-big {
  font-size: 30px;
  font-weight: 700;
}

.help-page-section .help-questions {
  border-top: 1px solid #B7B7B7;
}

.help-page-section .help-questions h4 {
  font-size: 22px;
  font-weight: 700;
}

.help-page-section .help-questions .nav .nav-link {
  color: #43ab6c;
  font-weight: 600;
  padding-left: 0;
  padding: 2px;
  font-size: 20px;
}

.help-page-section svg {
  width: 80px;
  margin-left: -20px;
}

.help-page-section svg path {
  fill: #B7B7B7;
}

.not-found h2 {
  font-size: 70px;
  color: #43ab6c;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.not-found h4 {
  font-size: 22px;
}

.not-found .btn {
  font-weight: 600;
  color: #fff;
  padding: 12px 30px;
}

.cart-wizard-header {
  position: relative;
}

.cart-wizard-header .wizard-control {
  max-width: 624px;
}

.cart-wizard-header .secure-checkout h3 {
  font-size: 34px;
  font-weight: bold;
  color: #43ab6c;
}

.cart-wizard-header .bg-line {
  height: 2px;
  background: #707070;
  position: absolute;
  top: 25px;
  width: 400px;
  margin: auto;
  left: 0;
  right: 0;
}

.cart-wizard-header .circle-blank {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #707070;
  font-size: 25px;
  line-height: 45px;
  font-weight: 600;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  color: #707070;
}

.cart-wizard-header .circle-fill {
  background: #707070;
  color: #fff;
}

.cart-wizard-header h4 {
  font-size: 22px;
  font-weight: 700;
  color: #43ab6c;
  text-align: center;
  margin-top: 10px;
}

.order-placed h4 {
  color: #43ab6c;
  margin-bottom: 30px;
  font-weight: 700;
}

.order-placed p {
  font-size: 20px;
  font-weight: 700;
}

.order-placed strong {
  color: #B7B7B7;
  font-size: 20px;
}

#addToCart {
  font-size: 24px;
}

#addToCart .cart-item {
  border: 1px solid #E8E8E8;
}

#addToCart h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#addToCart h3 svg {
  width: 30px;
  margin-right: 10px;
}

#addToCart h3 svg path {
  fill: #43ab6c;
}

#addToCart h4 {
  color: #43ab6c;
  font-weight: 700;
  margin-bottom: 40px;
}

#addToCart .btn {
  color: #fff;
  background: #43ab6c;
  font-weight: 600;
  font-size: 18px;
}

.review-cart h3 {
  color: #43ab6c;
  font-size: 28px;
  font-weight: 600;
  font-weight: bold;
}

.review-cart h5 {
  font-size: 20px;
  font-weight: 600;
}

.purchasing-checkout-shipping h4 {
  font-size: 32px;
  color: #43ab6c;
}

.purchasing-checkout-shipping form .form-control {
  height: 60px;
  border-radius: 0;
}

.purchasing-checkout-shipping .btn-lg {
  height: 60px;
  background-color: #43ab6c;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  color: #fff;
}

.purchasing-checkout-shipping .wizard-shipping-address p {
  font-size: 14px;
  line-height: 16px;
}

.purchasing-checkout-shipping .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.purchasing-checkout-shipping .custom-checkbox
.custom-control-input:checked
~ .custom-control-label::after {
  background-color: #43ab6c;
}

.border-item {
  height: 153px;
  width: 153px;
  border: 1px solid #E8E8E8;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account-dashboard h1 {
  font-size: 60px;
  font-weight: 700;
  color: #43ab6c;
}

.account-dashboard h3 {
  font-weight: 700 !important;
  font-size: 32px !important;
  color: #43ab6c;
  margin-bottom: 10px !important;
}

.account-dashboard p.subhead {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  margin-bottom: 0;
}

.account-dashboard .btn-sm-light {
  background: #E8E8E8 !important;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  font-weight: 500;
  height: auto !important;
  color: #000 !important;
  font-size: 12px !important;
  padding: 5px 15px;
}

.account-dashboard .table-responsive .table td {
  padding: 5px;
}

.account-dashboard .table-responsive .table td a {
  color: #000;
  text-decoration: underline;
}

.account-tabs .nav-pills .nav-link {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #E8E8E8;
}

.account-tabs .nav-pills .nav-link.active {
  background-color: transparent;
  font-weight: 700;
}

.account-tabs .wizard-shipping-address .custom-control-label {
  font-weight: 500;
}

.account-tabs .wizard-shipping-address .btn {
  height: auto;
  font-size: 20px;
  margin-right: 10px;
  letter-spacing: -0.5px;
}

.account-tabs .error-msg p {
  font-size: 14px;
  color: #DD2626CB;
  font-weight: 500;
  margin-bottom: 10px;
}

.account-tabs .custom-control-input.is-valid ~ .custom-control-label,
.account-tabs .was-validated .custom-control-input:valid ~ .custom-control-label,
.account-tabs .custom-control-input.is-invalid ~ .custom-control-label,
.account-tabs .was-validated .custom-control-input:invalid ~ .custom-control-label {
  color: #707070;
}

.account-tabs .table td a {
  color: #000;
}

.account-tabs .tab-pane {
  padding-bottom: 40px;
}

.add-payment-method h4 {
  color: #43ab6c;
  font-size: 30px;
}

.add-payment-method .add-method {
  font-size: 100px;
  color: #43ab6c;
  line-height: 100px;
}

.add-payment-method .add-method:hover {
  text-decoration: none;
}

.add-payment-method h5 {
  font-size: 24px;
  color: #43ab6c;
  font-weight: 700;
}

.add-payment-method .btn-gray {
  background-color: #E8E8E84E;
  font-size: 14px !important;
  border: 1px solid #B7B7B7;
  height: auto !important;
  color: #000 !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .one-stop-shop h1 {
    font-size: 48px;
  }
  .one-stop-shop h4 {
    font-size: 26px;
    line-height: 32px;
  }
  .one-stop-shop .container {
    padding-left: 70px;
    padding-right: 70px;
  }
  .one-stop-shop .container .one-stop-arrow {
    left: 0;
    bottom: 300px;
  }
  .one-stop-shop .container .one-stop-arrow img {
    width: 40px;
  }
  header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  header .delivery-status {
    margin-bottom: -0;
    margin-top: 20px;
  }
  header .delivery-status img {
    width: 30px;
  }
  header .cart-top-header {
    width: 100%;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 4px;
    font-size: 11px;
  }
  .paygos-join h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .paygos-join .join-now .form-control {
    height: 50px !important;
  }
  .paygos-join .join-now button {
    height: 60px;
  }
  .cookies {
    height: 280px;
  }
  .cookies .close {
    right: -50px;
    top: -20px;
  }
  .cookies p {
    font-size: 17px;
  }
  .savings img {
    width: 70px;
  }
  .savings h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .savings p {
    font-size: 18px;
    line-height: 22px;
  }
  .category-shop .sub-heading h3 {
    font-size: 26px;
  }
  .category-shop h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .category-shop .item-container .item .input-group {
    height: 28px;
  }
  .category-shop .item-container .item .input-group .form-control {
    padding: 2px;
  }
  .category-shop .item-container .item .input-group .btn {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-shop .item-container .item p {
    font-size: 12px;
    line-height: 16px;
  }
  .category-shop .item-container .item .btn {
    font-size: 12px;
    padding: 2px 4px;
    height: 28px;
  }
  .market-filter .serp-page .item-container .item {
    max-width: 228px;
  }
  .main-sliding-banner .carousel-item h2 {
    font-size: 30px;
  }
  .main-sliding-banner .carousel-item .banner-price {
    width: 150px;
    height: 150px;
    font-size: 40px;
  }
  .main-sliding-banner .carousel-item .banner-price div span {
    font-size: 65px;
  }
  .slick-slider .slick-arrow {
    top: 40px;
  }
  .slick-slider .slick-next {
    right: -22px;
  }
  .slick-slider .slick-prev {
    left: -22px;
  }
  .help-page-section .help-page p {
    font-size: 18px;
    line-height: 22px;
  }
  .help-page-section .help-page .btn {
    margin-bottom: 10px;
  }
  .help-page-section .help-page h4 {
    margin-bottom: 10px;
  }
  .cart-container {
    padding-bottom: 60px;
  }
  .cart-container h3 {
    font-size: 26px;
  }
  .addto-cart-section img {
    width: 150px;
  }
  .addto-cart-section svg {
    width: 45px;
  }
  .addto-cart-section .add-to-cart-subtotal .btn {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
  }
  .how-it-works .how-it-works-arrow {
    right: 128px !important;
    width: 100px;
  }
  .how-it-works .how-it-works-arrow img {
    width: 45% !important;
  }
  .how-it-works .video-bg {
    margin: auto;
    height: 350px;
  }
  .purchasing-cart h3 {
    font-size: 35px;
  }
  .purchasing-cart .item-in-cart h4 {
    font-size: 22px;
  }
  .purchasing-cart .item-in-cart p {
    font-weight: 600;
    font-size: 14px;
  }
  .purchasing-cart .begin-checkout {
    font-size: 14px;
  }
  .category-section .custom-control-label {
    font-size: 12px;
  }
  .not-found h2 {
    font-size: 50px;
  }
  .not-found h4 {
    font-size: 26px;
  }
  .cart-wizard-header .wizard-control {
    max-width: 300px;
    margin-top: 10px;
  }
  .cart-wizard-header .wizard-control h4 {
    font-size: 16px;
  }
  .cart-wizard-header .wizard-control .circle-blank {
    height: 40px;
    width: 40px;
    line-height: 35px;
  }
  .cart-wizard-header .bg-line {
    width: 220px;
  }
  .cart-wizard-header .secure-checkout h3 {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-wizard-header .secure-checkout h3 img {
    width: 20px;
    margin-left: 5px;
  }
  .border-ipad {
    border-bottom: 1px solid #B7B7B7;
    padding-bottom: 30px;
  }
  .reset-password .table-responsive .table td,
  .reset-password .table-responsive .table th {
    font-size: 16px;
  }
  .account-dashboard h1 {
    font-size: 40px;
  }
  .account-dashboard h3 {
    font-size: 24px !important;
  }
  .help-page-section .help-page h4 {
    font-size: 20px;
  }
  .help-page-section .help-page p {
    font-size: 16px;
  }
  .order-process .order-process-steps {
    width: 390px;
  }
  .order-process .order-process-steps .step {
    width: 40px;
    height: 40px;
  }
  .order-process .order-process-steps .step-blank h4 {
    font-size: 20px;
  }
  .order-process .order-process-steps .fill:after {
    width: 10px;
    height: 17px;
  }
  .order-process .order-process-steps .step-small {
    width: 15px;
    height: 15px;
  }
  .ipad-items .item-container {
    width: 245px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .category-shop .item-container {
    width: 248px;
  }
  .category-shop .item-container .item {
    max-width: 200px;
  }
  .slick-slider .slick-arrow {
    top: 52px;
  }
}

@media (max-width: 767px) {
  .container-wrapper {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #A3A3A3;
            box-shadow: 0 8px 6px -6px #A3A3A3;
    height: 210px;
    top: 0;
  }
  .container-wrapper .navbar .dropdown-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 20px;
  }
  .container-wrapper .delivery-status {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 500;
  }
  .container-wrapper .delivery-status img {
    width: 30px;
  }
  .left-right-border {
    border: 0 !important;
  }
  .top-bar {
    padding: 5px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
  }
  .top-bar select.form-control {
    font-size: 12px;
  }
  .top-bar h4 {
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    width: 40%;
  }
  .top-bar .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-right: 10px;
  }
  .top-bar .nav .nav-link {
    padding: 5px;
  }
  .mobile-margin-top {
    padding-top: 230px !important;
  }
  .main-logo {
    width: 150px;
  }
  header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  header nav {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  header .cart-top-header {
    width: 90%;
  }
  header .cart-top-header .cart-collection {
    font-size: 12px;
  }
  .navbar {
    background: transparent !important;
  }
  .navbar-collapse {
    background: #43ab6c;
  }
  .navbar-toggler {
    padding: 0;
    background: transparent;
    border: 0;
    outline: none;
    outline: none;
  }
  .navbar-toggler .hamburger {
    width: 40px;
  }
  .mobile-search {
    width: 333px;
  }
  .mobile-search .form-control {
    border-radius: 0;
    height: 36px;
  }
  .mobile-search .form-control .input-group-append,
  .mobile-search .form-control .input-group-text {
    height: 48px;
  }
  .mobile-search svg {
    width: 20px;
  }
  .mobile-search svg path {
    fill: #43ab6c;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 20px 20px;
    border-top: 1px solid #B7B7B7;
  }
  .navbar .navbar-nav .navbar-nav .nav-item .nav-link {
    border-top: none;
  }
  .one-stop-shop {
    margin-top: 120px;
  }
  .one-stop-shop h1 {
    font-size: 38px;
  }
  .one-stop-shop h4 {
    font-size: 19px;
    line-height: 26px;
  }
  .one-stop-shop .bg-paygos-img {
    width: 100%;
    opacity: 0.1;
  }
  .one-stop-shop .one-stop-arrow {
    display: none;
  }
  .savings h3 {
    font-size: 26px;
    font-weight: 700;
  }
  .savings p {
    font-size: 20px;
    line-height: 20px;
  }
  .savings a {
    margin-bottom: 40px;
    display: block;
  }
  .how-it-works .video-bg {
    background-size: contain;
    height: 216px;
    margin-top: 86px;
  }
  .how-it-works .video-bg .play-video {
    width: 60px;
    height: 60px;
  }
  .how-it-works .container .how-it-works-arrow {
    width: 150px;
    right: 0;
    left: 0;
    margin: auto;
    top: -100px;
  }
  .how-it-works .container .how-it-works-arrow img {
    width: 60%;
    margin-top: -30px;
  }
  .cookies {
    padding-right: 1.25rem;
    height: 400px;
  }
  .cookies p {
    color: #E8E8E8;
  }
  .cookies .close {
    right: -20px;
    top: -54px;
    font-size: 30px;
  }
  .cookies button {
    font-size: 20px;
  }
  .cookies a {
    margin-bottom: 10px;
    display: inline-block;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
    padding-top: 10px;
    padding: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .container .nav {
    margin-bottom: 20px;
  }
  .main-sliding-banner {
    background: #f7f7f7;
  }
  .main-sliding-banner .carousel-item h2 {
    font-size: 16px;
  }
  .main-sliding-banner .carousel-item h2 span {
    font-size: 20px;
    color: #A3A3A3;
  }
  .main-sliding-banner .carousel-item a {
    background: #43ab6c;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;
  }
  .main-sliding-banner .carousel-item .banner-price {
    font-size: 30px;
    width: 100px;
    height: 100px;
  }
  .main-sliding-banner .carousel-item .banner-price div {
    letter-spacing: normal;
    line-height: 40px;
    font-size: 25px;
  }
  .main-sliding-banner .carousel-item .banner-price div span {
    font-size: 35px;
  }
  .main-sliding-banner .carousel-item .banner-price p {
    font-size: 16px;
    font-weight: 500;
    margin-top: -5px;
  }
  .main-sliding-banner .carousel-indicators {
    bottom: -40px;
  }
  .main-sliding-banner .carousel-indicators li {
    height: 12px;
    width: 12px;
    opacity: 0.8;
  }
  .main-sliding-banner .carousel-indicators .active {
    height: 12px;
    width: 12px;
  }
  .cart-container {
    padding-bottom: 40px;
  }
  .cart-container .cart-section .price-stock {
    margin-top: 20px;
  }
  .cart-container h3 {
    font-size: 25px;
  }
  .cart-container .form-inline {
    margin-bottom: 10px;
  }
  .cart-container .delivery-order {
    padding: 0;
    line-height: 0;
  }
  .category-shop .item-container .item {
    max-width: 100%;
  }
  .category-shop .item-container .item img {
    margin-bottom: 5px;
  }
  .category-shop .item-container .item p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .category-shop .item-container .item .input-group {
    height: 30px;
  }
  .category-shop .item-container .item .input-group .btn {
    padding: 0 2px;
    text-align: center;
    font-size: 18px;
  }
  .category-shop .item-container .item .btn {
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-shop h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .category-shop .sub-heading {
    margin-bottom: 10px;
  }
  .category-shop .sub-heading a {
    margin-top: 10px;
    width: 130px;
    text-align: right;
  }
  .slick-slider .slick-next {
    right: -17px;
  }
  .slick-slider .slick-prev {
    left: -17px;
    z-index: 1;
  }
  .slick-slider .slick-arrow {
    top: 50px;
  }
  .login-logo-container .img-fluid {
    margin-top: 60px !important;
  }
  .reset-password {
    background: #fff !important;
    border-top: 0 !important;
  }
  .reset-password .join-now {
    margin-top: 20px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: transparent;
  }
  .reset-password .join-now h3 {
    font-size: 22px;
  }
  .reset-password .join-now h5 {
    font-size: 20px;
  }
  .reset-password .join-now .login p a {
    color: #000;
  }
  .reset-password .table-responsive {
    padding: 20px;
  }
  .reset-password .table-responsive .table th {
    font-size: 16px;
    font-weight: 600;
  }
  .reset-password .table-responsive .table td {
    font-size: 14px;
    font-weight: 500;
  }
  .paygos-join .join-now .form-control {
    height: 50px;
  }
  .paygos-join .join-now button {
    height: 50px;
    font-size: 20px;
  }
  .paygos-join .join-now .free-shipping {
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -174px;
    text-align: center;
  }
  .paygos-join h4 {
    font-size: 16px;
    font-weight: 650;
    width: 74%;
    margin: 0 auto;
    margin-bottom: 40px !important;
  }
  .addto-cart-section .add-to-cart-subtotal {
    margin-top: 30px;
  }
  .addto-cart-section .add-to-cart-subtotal .btn {
    width: 100%;
    padding: 6px;
    font-size: 18px;
    margin-top: 10px;
  }
  .help-page-section {
    padding-bottom: 30px;
  }
  .help-page-section svg {
    width: 120px;
  }
  .help-page-section .help-page p {
    font-size: 18px;
    font-weight: 700;
  }
  .help-page-section .help-page .btn {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .help-page-section .help-page h4 {
    text-align: center;
    font-weight: 700;
  }
  .mobile-heading-big {
    font-size: 30px !important;
  }
  .help-mobile .help-page svg {
    margin-left: -30px;
  }
  .help-mobile .help-page h4 {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .help-mobile .help-page p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  .navbar-collapse {
    position: absolute;
    top: -83px;
    left: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: block;
    bottom: 0;
    height: 100vh;
    padding-left: 40px;
    z-index: 1;
  }
  .navbar-collapse .navbar-toggler {
    font-size: 40px;
    color: #fff;
    margin-left: -20px;
    margin-top: 30px;
  }
  .navbar-collapse p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
  .navbar-collapse p img {
    width: 25px;
  }
  .navbar-collapse.collapsing {
    margin-left: 50%;
    left: 50%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: 100vh !important;
  }
  .navbar-collapse.show {
    left: 30px;
  }
  .mobile-filter-container {
    margin-bottom: 20px;
    position: relative;
  }
  .mobile-filter-container .btn {
    border: 1px solid #B7B7B7;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
  }
  .mobile-overlay {
    position: fixed;
    background: #E8E8E8;
    width: 100%;
    left: 0;
    right: 0;
    top: 100px;
    z-index: 999;
    bottom: 0;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 30px;
  }
  .mobile-overlay .mobile-filter {
    font-size: 50px;
    color: #A3A3A3;
  }
  .mobile-overlay h5 {
    margin-bottom: 0;
  }
  .cart-overlay {
    top: 180px;
    font-size: 20px;
  }
  .cart-mobile {
    padding-right: 0;
    font-size: 12px;
    padding-left: 5px;
  }
  .purchasing-cart .item-in-cart h3 {
    font-size: 35px;
  }
  .purchasing-cart .item-in-cart h4 {
    font-size: 22px;
    margin-top: 30px;
  }
  .mobile-begin-checkout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .mobile-begin-checkout .btn {
    background: #43ab6c;
    font-weight: 600;
  }
  .cart-wizard-header .wizard-control {
    max-width: 400px;
  }
  .cart-wizard-header .wizard-control .circle-blank {
    width: 40px;
    height: 40px;
    line-height: 35px;
  }
  .cart-wizard-header .wizard-control h4 {
    font-size: 18px;
  }
  .cart-wizard-header .bg-line {
    width: 250px;
  }
  .cart-wizard-header .secure-checkout {
    padding: 20px 10px;
  }
  .cart-wizard-header .secure-checkout h3 {
    font-size: 28px;
  }
  .cart-wizard-header .secure-checkout h3 img {
    width: 32px;
  }
  .cart-wizard-header .secure-checkout img {
    width: 70%;
  }
  .fill-card .form-control {
    height: 50px;
  }
  .payment-option-form form .form-group .form-control {
    height: 50px;
  }
  .order-summary {
    border-right: 0 !important;
  }
  .order-process .order-process-steps {
    width: 350px;
  }
  .order-process .order-process-steps .step {
    width: 35px;
    height: 35px;
  }
  .order-process .order-process-steps .step-blank h4 {
    font-size: 17px;
  }
  .order-process .order-process-steps .fill:after {
    width: 10px;
    height: 15px;
    border-width: 0 4px 4px 0;
  }
  .order-process .step-small {
    height: 12px;
    width: 12px;
  }
  .not-found h2 {
    font-size: 40px;
  }
  .no-bg-mobile {
    background: transparent !important;
  }
  .mobile-categories {
    margin-top: -20px;
  }
  .mobile-categories a {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    margin-bottom: 10px;
    display: block;
  }
  .mobile-categories .active {
    color: #43ab6c;
  }
  .mobile-categories ul {
    list-style: none;
  }
  .sppadding-top-mobile {
    padding-top: 30px !important;
  }
  .sppadding-top-mobile .help-page h4 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .account-dashboard h1,
  .account-dashboard h3 {
    font-size: 22px !important;
  }
  .account-tabs .tab-content {
    margin-top: 40px;
  }
  .account-tabs .tab-content h4 {
    margin: 0 0 20px !important;
    width: 100%;
  }
  .review-cart h3 {
    color: #43ab6c;
    font-size: 28px;
    font-weight: 600;
  }
  .item-in-cart {
    border-right: 0 !important;
  }
  .item-in-cart h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .purchasing-checkout-shipping .add-new-address h4 {
    font-size: 20px;
  }
  .purchasing-checkout-shipping .add-new-address .form-control {
    height: 45px;
    font-size: 14px;
  }
  .market-filter .item-container {
    width: 50%;
  }
  .not-available {
    font-size: 11px !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1640px;
  width: 100%;
}

.custom-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn-green {
  background-color: #43ab6c;
  border-radius: 0;
}

.small-icon small {
  font-size: 13px;
}

.small-icon img {
  width: 30px;
}

.bg-green {
  background: #43ab6c;
}

.breadcrumb {
  padding: 0;
}

.breadcrumb .breadcrumb-item {
  font-weight: 500;
}

.breadcrumb .breadcrumb-item a {
  color: #43ab6c;
}

.location img {
  width: 20px;
}

.left-right-border {
  border-left: 1px solid #B7B7B7;
  border-right: 1px solid #B7B7B7;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #28a745 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  background: rgba(255, 0, 0, 0.1);
  position: relative;
}

.form-control.is-invalid:before,
.was-validated .form-control:invalid:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  font-size: 30px;
  color: #dc3545;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #43ab6c;
}
/*# sourceMappingURL=main.css.map */